<div  class="buttonContainer mx-5">
  <h2>Buttons</h2>
  <mat-divider></mat-divider>
  <div class="my-2">
    <mat-card>
      <div class="row my-2">
        <div class="col-2 pl-4 pt-3">BASIC</div>
        <div class="col-6">
          <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </div>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
  
  <div class="my-2"><mat-card>
    <div class="row my-2">
      <div class="col-2 pl-4 pt-3">Raised</div>
      <div class="col-8">
        <button mat-raised-button class="mx-2 my-2">Basic</button>
        <button mat-raised-button class="mx-2 my-2" color="primary">Primary</button>
        <button mat-raised-button class="mx-2 my-2" color="accent">Accent</button>
        <button mat-raised-button class="mx-2 my-2" color="warn">Warn</button>
        <button mat-raised-button class="mx-2 my-2" disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </div>
  </mat-card>
  <mat-divider></mat-divider></div>
  
  <div class="my-2"><mat-card>
    <div class="row my-2">
      <div class="col-2 pl-4 pt-3">Stroked</div>
      <div class="col-8">
        <button mat-stroked-button class="mx-2 my-2">Basic</button>
        <button mat-stroked-button class="mx-2 my-2" color="primary">Primary</button>
        <button mat-stroked-button class="mx-2 my-2" color="accent">Accent</button>
        <button mat-stroked-button class="mx-2 my-2" color="warn">Warn</button>
        <button mat-stroked-button class="mx-2 my-2" disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </div>
  </mat-card>
  <mat-divider></mat-divider></div>
  
  <div class="my-2">
    <mat-card>
      <div class="row my-2">
        <div class="col-2 pl-4 pt-3">Flat</div>
        <div class="col-8">
          <button mat-flat-button class="mx-2 my-2">Basic</button>
          <button mat-flat-button class="mx-2 my-2" color="primary">Primary</button>
          <button mat-flat-button class="mx-2 my-2" color="accent">Accent</button>
          <button mat-flat-button class="mx-2 my-2" color="warn">Warn</button>
          <button mat-flat-button class="mx-2 my-2" disabled>Disabled</button>
          <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </div>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
  <div class="my-2">
    <mat-card>
      <div class="row my-2">
        <div class="col-2 pl-4 pt-3">Icon</div>
        <div class="col-8">
          <button mat-icon-button class="mx-2 my-2"><mat-icon>more_vert</mat-icon></button>
          <button mat-icon-button class="mx-2 my-2" color="primary" ><mat-icon>home</mat-icon></button>
          <button mat-icon-button class="mx-2 my-2" color="accent" ><mat-icon>menu</mat-icon></button>
          <button mat-icon-button class="mx-2 my-2" color="warn" ><mat-icon>favorite</mat-icon></button>
          <button mat-icon-button class="mx-2 my-2" disabled ><mat-icon>open_in_new</mat-icon></button>
        </div>
      </div>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
  
  <div class="my-2">
    <mat-card>
      <div class="row my-2">
        <div class="col-2 pl-4 pt-3">FAB</div>
        <div class="col-8">
          <button mat-fab color="primary" class="mx-2 my-2"><mat-icon>delete</mat-icon></button>
          <button mat-fab color="accent" class="mx-2 my-2"><mat-icon>bookmark</mat-icon></button>
          <button mat-fab color="warn" class="mx-2 my-2"><mat-icon>home</mat-icon></button>
          <button mat-fab disabled class="mx-2 my-2"><mat-icon>favorite</mat-icon></button>
        </div>
      </div>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
  
  <div class="my-2"><mat-card>
    <div class="row my-2">
      <div class="col-2 pl-4 pt-3">MINI FAB</div>
      <div class="col-8">
        <button mat-mini-fab color="primary" class="mx-3 my-2"><mat-icon>delete</mat-icon></button>
        <button mat-mini-fab color="accent" class="mx-3 my-2"><mat-icon>bookmark</mat-icon></button>
        <button mat-mini-fab color="warn" class="mx-3 my-2"><mat-icon>home</mat-icon></button>
        <button mat-mini-fab disabled class="mx-3 my-2"><mat-icon>favorite</mat-icon></button>
      </div>
    </div>
  </mat-card></div>
  
</div>