<div class="snakBarContainer">
    <div class="row">
        <div class="col-8">
            <div class="col-8">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput value="Perry" #name>
                  </mat-form-field>
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <input matInput value="Let's Dance" #message>
                </mat-form-field>
            </div>
            <div class="col-4 mt-0">
                <button mat-flat-button color="accent" (click)="openSnackBar(message.value, name.value)">Show snack-bar</button>
            </div>
              
        </div>
    </div>
</div>
