<div  class="cardContainer mx-5">
    <h2>Cards</h2>
    <mat-divider></mat-divider>
    <div class="row ">
        <div class="col-5 mx-4 my-2">
            <mat-card>
                <mat-card-header>Card Header</mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>Simple card Content</mat-card-content>
                <mat-card-footer class="ml-3">Card Footer</mat-card-footer>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
        <div class="col-5 mx-4 my-2">
            <mat-card>
                <mat-card-header>Card Header</mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>Simple card Content</mat-card-content>
                <mat-card-footer class="ml-3">Card Footer</mat-card-footer>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
        <div class="col-5 mx-4 my-2">
            <mat-card>
                <mat-card-header>Card Header</mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>Simple card Content</mat-card-content>
                <mat-card-footer class="ml-3">Card Footer</mat-card-footer>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
        <div class="col-5 mx-4 my-2">
            <mat-card>
                <mat-card-header>Card Header</mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>Simple card Content</mat-card-content>
                <mat-card-footer class="ml-3">Card Footer</mat-card-footer>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
