<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="example-icon favorite-icon" routerLinkActive="active" routerLink="" style="color: white; text-decoration:none">Angular Material</a>
    <span class="example-spacer"></span>
    <a class="example-icon favorite-icon" routerLinkActive="active" routerLink="/buttons" style="color: white; text-decoration:none">Buttons</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
